# Código Inicial

#### El propósito del código es abrir el archivo del cruce de los dos siguientes archivos:
####  * anexos-proyecciones-poblacion-area-sexo-2018-2023 (1) -> Población por dpto, mpio (ciudad), sexo
####  * anexos-proyecciones-pob-dptos-area-grupos-de-edad-2018-2023 -> Población por dpto, edad, sexo

#### El archivo que contiene el cruce de esos dos archivos es el siguiente:
####  * Inicial

#### Dado que se debía hacer un ajuste adicional, para que los grupos de edad no estuvieran como columnas, se utilizó Power Bi para ese procedimiento.

#### El output de la transformación de datos de Power Bi es el siguiente:
####  * Inicial_agregado

Cargo librerias necesarias para hacer transformaciones

In [1]:
import pandas as pd
import time
import numpy as np
import dask.dataframe as dd

## 1. Procedimiento con el archivo Inicial_agregado

Leo archivo Inicial_agregado

In [2]:
dane = pd.read_excel(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_agregado.xlsx")

# Código correcto

Genero una lista con el número total de población por Departamento, Municipio (Ciudad), Sexo y Grupo de Edad

In [3]:
reps = dane.iloc[:,5].tolist()
#reps

In [4]:
newdane = dane

Repito cada fila del DataFrame según la cantidad de repeticiones. Las repeticiones contiene la cantidad de personas para las diferentes conbinaciones de categorias

In [5]:
start_time = time.perf_counter()

newdane = newdane.loc[np.repeat(newdane.index.values, reps)]

print (time.perf_counter() - start_time, "seconds")

6.8599742999999975 seconds

Reseteo el índice del DataFrame

In [7]:
newdane = newdane.reset_index()

Le asigno a la columna Personas el valor de 1. Dado que ahora cada fila es una persona

In [9]:
newdane["Personas"] = 1

In [10]:
newdane['index'] = newdane.index

Se realiza algunas agrupaciones para ver si lo realizado fue correcto

In [12]:
#print(newdane.groupby(['NOMBRE MPIO', 'SEXOS', 'Rango Edad']).count())

Se deben realizar ajustes a la base de datos Dummie de población de Colombia, con el fin de cruzarla con el de contagiados nacionalmente.

Primero se cambian los valores de SEXOS de la tabla de datos Dummie.

In [13]:
newdane['SEXOS'].replace({'HOMBRES': 'M', 'MUJERES': 'F'}, inplace = True)

Cambio el typo de variable de COD_MPIO

In [15]:
newdane['COD_MPIO'] = newdane['COD_MPIO'].apply(str)

In [18]:
newdane.rename(columns={'Rango Edad': "Rango_Edad"}, inplace = True)

In [20]:
newdane["id_persona_por_llave"] = newdane.groupby(['Rango_Edad', 'SEXOS', 'COD_MPIO'])['Personas'].cumsum()

### Success!

In [22]:
df = np.array_split(newdane, 10)

In [23]:
df[0].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_0_terminado.csv", index = False)
df[1].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_1_terminado.csv", index = False)
df[2].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_2_terminado.csv", index = False)
df[3].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_3_terminado.csv", index = False)
df[4].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_4_terminado.csv", index = False)
df[5].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_5_terminado.csv", index = False)
df[6].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_6_terminado.csv", index = False)
df[7].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_7_terminado.csv", index = False)
df[8].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_8_terminado.csv", index = False)
df[9].to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_9_terminado.csv", index = False)

## 2. Procedimiento con el archivo oficial de contagiados

Leo el archivo oficial de contagiados con COVID-19

In [24]:
oficial = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Casos_positivos_de_COVID-19_en_Colombia.csv",
                     sep = ";")

In [26]:
oficial['Edad_2'] = oficial['Edad']

Cambio la edad por los rangos de edad del DANE

In [27]:
oficial['Edad'] = np.where(oficial['Edad_2'] <= 4, '00-04', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 4) & (oficial['Edad_2'] <= 9), '05-09', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 9) & (oficial['Edad_2'] <= 14), '10-14', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 14) & (oficial['Edad_2'] <= 19), '15-19', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 19) & (oficial['Edad_2'] <= 24), '20-24', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 24) & (oficial['Edad_2'] <= 29), '25-29', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 29) & (oficial['Edad_2'] <= 34), '30-34', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 34) & (oficial['Edad_2'] <= 39), '35-39', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 39) & (oficial['Edad_2'] <= 44), '40-44', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 44) & (oficial['Edad_2'] <= 49), '45-49', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 49) & (oficial['Edad_2'] <= 54), '50-54', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 54) & (oficial['Edad_2'] <= 59), '55-59', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 59) & (oficial['Edad_2'] <= 64), '60-64', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 64) & (oficial['Edad_2'] <= 69), '65-69', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 69) & (oficial['Edad_2'] <= 74), '70-74', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 74) & (oficial['Edad_2'] <= 79), '75-79', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 79) & (oficial['Edad_2'] <= 84), '80-84', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 84) & (oficial['Edad_2'] <= 89), '85-89', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 89) & (oficial['Edad_2'] <= 94), '90-94', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 94) & (oficial['Edad_2'] <= 99), '95-99', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 99), '100 AÑOS Y MÁS', oficial['Edad'])

Se cambia el tipo de la variable Codigo DIVIPOLA por string para hacer llaves y cruce.

In [28]:
oficial['Codigo DIVIPOLA'] = oficial['Codigo DIVIPOLA'].apply(str)

In [29]:
oficial['Personas'] = 1

In [30]:
oficial["id_persona_por_llave"] = oficial.groupby(['Edad', 'Sexo', 'Codigo DIVIPOLA'])['Personas'].cumsum()

In [34]:
oficial.to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Oficial_terminado.csv", index = False)

In [35]:
del dane
del reps

## 3. Uno la tabla de Dummies Colombia y la tabla de infectados Oficial Colombia

Se crea la llave para unir las tablas

In [36]:
newdane = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_0_terminado.csv")

In [37]:
oficial = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Oficial_terminado.csv")

In [39]:
newdane['COD_MPIO'] = newdane['COD_MPIO'].apply(str)
oficial['Codigo DIVIPOLA'] = oficial['Codigo DIVIPOLA'].apply(str)

In [40]:
newdane['Key'] = newdane['Rango_Edad'] + "_" + newdane['SEXOS'] + "_" + newdane['COD_MPIO']
oficial['Key'] = oficial['Edad'] + "_" + oficial['Sexo'] + "_" + oficial['Codigo DIVIPOLA']

In [42]:
newdane['Key'] = newdane['Key'] + "_" + newdane["id_persona_por_llave"].apply(str)
oficial['Key'] = oficial['Key'] + "_" + oficial["id_persona_por_llave"].apply(str)

In [43]:
#consolidado = pd.merge(newdane, oficial, on='Key', how='inner')
consolidado = pd.merge(newdane, oficial, on='Key', how='left') #Con esto mantengo los registros de dummies

In [44]:
del newdane
del oficial

In [47]:
consolidado = consolidado.sort_values('index',ascending=True)

In [48]:
boolean = consolidado['Key'].duplicated().any()
boolean

False

In [49]:
duplicateRowsDF = consolidado[consolidado['Key'].duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [index, NOMBRE DPTO, COD_MPIO, NOMBRE MPIO, SEXOS, Rango_Edad, Personas_x, id_persona_por_llave_x, Key, ID de caso, Fecha de notificación, Codigo DIVIPOLA, Ciudad de ubicación, Departamento o Distrito , atención, Edad, Sexo, Tipo, Estado, País de procedencia, FIS, Fecha de muerte, Fecha diagnostico, Fecha recuperado, fecha reporte web, Edad_2, Personas_y, id_persona_por_llave_y]
Index: []

[0 rows x 28 columns]

In [50]:
consolidado.to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Consolidado_0.csv", index = False)

In [51]:
del consolidado

### Segundo paquete de Dummies

In [55]:
newdane = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_1_terminado.csv")

In [56]:
oficial = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Oficial_terminado.csv")

In [58]:
newdane['COD_MPIO'] = newdane['COD_MPIO'].apply(str)
oficial['Codigo DIVIPOLA'] = oficial['Codigo DIVIPOLA'].apply(str)

In [59]:
newdane['Key'] = newdane['Rango_Edad'] + "_" + newdane['SEXOS'] + "_" + newdane['COD_MPIO']
oficial['Key'] = oficial['Edad'] + "_" + oficial['Sexo'] + "_" + oficial['Codigo DIVIPOLA']

In [61]:
newdane['Key'] = newdane['Key'] + "_" + newdane["id_persona_por_llave"].apply(str)
oficial['Key'] = oficial['Key'] + "_" + oficial["id_persona_por_llave"].apply(str)

In [62]:
#consolidado = pd.merge(newdane, oficial, on='Key', how='inner')
consolidado = pd.merge(newdane, oficial, on='Key', how='left') #Con esto mantengo los registros de dummies

In [63]:
del newdane
del oficial

In [66]:
consolidado = consolidado.sort_values('index',ascending=True)

In [67]:
boolean = consolidado['Key'].duplicated().any()
boolean

False

In [68]:
duplicateRowsDF = consolidado[consolidado['Key'].duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [index, NOMBRE DPTO, COD_MPIO, NOMBRE MPIO, SEXOS, Rango_Edad, Personas_x, id_persona_por_llave_x, Key, ID de caso, Fecha de notificación, Codigo DIVIPOLA, Ciudad de ubicación, Departamento o Distrito , atención, Edad, Sexo, Tipo, Estado, País de procedencia, FIS, Fecha de muerte, Fecha diagnostico, Fecha recuperado, fecha reporte web, Edad_2, Personas_y, id_persona_por_llave_y]
Index: []

[0 rows x 28 columns]

In [69]:
consolidado.to_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Consolidado_1.csv", index = False)

In [70]:
del consolidado

### Uno los Consolidados

In [71]:
consolidado_0 = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Consolidado_0.csv")

C:\Users\NicolasBernal\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [72]:
consolidado_1 = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Consolidado_1.csv")

In [73]:
consolidado_0_1 = consolidado_0.append(consolidado_1)

In [74]:
del consolidado_0
del consolidado_1

In [75]:
consolidado_0_1.shape

(10074486, 28)

In [78]:
boolean = consolidado_0_1['index'].duplicated().any()
boolean

False

In [79]:
duplicateRowsDF = consolidado_0_1[consolidado_0_1['index'].duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [index, NOMBRE DPTO, COD_MPIO, NOMBRE MPIO, SEXOS, Rango_Edad, Personas_x, id_persona_por_llave_x, Key, ID de caso, Fecha de notificación, Codigo DIVIPOLA, Ciudad de ubicación, Departamento o Distrito , atención, Edad, Sexo, Tipo, Estado, País de procedencia, FIS, Fecha de muerte, Fecha diagnostico, Fecha recuperado, fecha reporte web, Edad_2, Personas_y, id_persona_por_llave_y]
Index: []

[0 rows x 28 columns]