# Código Inicial

#### El propósito del código es abrir el archivo del cruce de los dos siguientes archivos:
####  * anexos-proyecciones-poblacion-area-sexo-2018-2023 (1) -> Población por dpto, mpio (ciudad), sexo
####  * anexos-proyecciones-pob-dptos-area-grupos-de-edad-2018-2023 -> Población por dpto, edad, sexo

#### El archivo que contiene el cruce de esos dos archivos es el siguiente:
####  * Inicial

#### Dado que se debía hacer un ajuste adicional, para que los grupos de edad no estuvieran como columnas, se utilizó Power Bi para ese procedimiento.

#### El output de la transformación de datos de Power Bi es el siguiente:
####  * Inicial_agregado

Cargo librerias necesarias para hacer transformaciones

In [1]:
import pandas as pd
import time
import numpy as np
import dask.dataframe as dd

## 1. Procedimiento con el archivo Inicial_agregado

Leo archivo Inicial_agregado

In [2]:
dane = pd.read_excel(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Inicial_agregado.xlsx")

In [3]:
dane

      NOMBRE DPTO  COD_MPIO     NOMBRE MPIO    SEXOS Rango Edad  Personas
0       Antioquia      5001        Medellín  HOMBRES      00-04     87482
1       Antioquia      5001        Medellín  HOMBRES      05-09     88369
2       Antioquia      5001        Medellín  HOMBRES      10-14     91108
3       Antioquia      5001        Medellín  HOMBRES      15-19     97757
4       Antioquia      5001        Medellín  HOMBRES      20-24    106958
...           ...       ...             ...      ...        ...       ...
47119      Vaupés     97889  Yavaraté (ANM)  HOMBRES      00-04        79
47120     Vichada     99001  Puerto Carreño  HOMBRES      00-04      1263
47121     Vichada     99524    La Primavera  HOMBRES      00-04       607
47122     Vichada     99624   Santa Rosalía  HOMBRES      00-04       259
47123     Vichada     99773        Cumaribo  HOMBRES      00-04      5013

[47124 rows x 6 columns]

# Código correcto

Genero una lista con el número total de población por Departamento, Municipio (Ciudad), Sexo y Grupo de Edad

In [4]:
reps = dane.iloc[:,5].tolist()
reps

[87482,
 88369,
 91108,
 97757,
 106958,
 107841,
 98348,
 89164,
 75137,
 65649,
 67322,
 63274,
 51696,
 38845,
 27464,
 17683,
 10202,
 5397,
 2573,
 1070,
 452,
 771,
 782,
 806,
 865,
 946,
 954,
 870,
 789,
 665,
 581,
 595,
 560,
 457,
 344,
 243,
 156,
 90,
 48,
 23,
 9,
 4,
 108,
 110,
 113,
 121,
 133,
 134,
 122,
 111,
 93,
 81,
 84,
 79,
 64,
 48,
 34,
 22,
 13,
 7,
 3,
 1,
 1,
 171,
 173,
 178,
 191,
 209,
 211,
 193,
 175,
 147,
 129,
 132,
 124,
 101,
 76,
 54,
 35,
 20,
 11,
 5,
 2,
 1,
 1126,
 1139,
 1174,
 1260,
 1378,
 1390,
 1267,
 1149,
 968,
 846,
 867,
 815,
 666,
 501,
 354,
 228,
 131,
 70,
 33,
 14,
 6,
 997,
 1005,
 1036,
 1111,
 1216,
 1226,
 1118,
 1014,
 854,
 746,
 765,
 719,
 588,
 442,
 312,
 201,
 116,
 61,
 29,
 12,
 5,
 1676,
 1695,
 1748,
 1876,
 2052,
 2069,
 1887,
 1711,
 1442,
 1260,
 1292,
 1214,
 992,
 745,
 527,
 339,
 196,
 104,
 49,
 21,
 9,
 216,
 217,
 224,
 240,
 263,
 265,
 242,
 219,
 185,
 161,
 166,
 156,
 127,
 96,
 68,
 43,
 25,
 13,
 6,
 3,
 1,
 428,
 432,
 445,
 477,
 522,
 527,
 480,
 435,
 367,
 321,
 329,
 309,
 252,
 190,
 134,
 86,
 50,
 26,
 13,
 5,
 2,
 732,
 740,
 763,
 818,
 895,
 903,
 823,
 746,
 629,
 549,
 563,
 530,
 433,
 325,
 230,
 148,
 85,
 45,
 22,
 9,
 4,
 982,
 992,
 1023,
 1098,
 1201,
 1211,
 1104,
 1001,
 844,
 737,
 756,
 710,
 580,
 436,
 308,
 199,
 115,
 61,
 29,
 12,
 5,
 272,
 274,
 282,
 303,
 331,
 334,
 305,
 276,
 233,
 203,
 209,
 196,
 160,
 120,
 85,
 55,
 32,
 17,
 8,
 3,
 1,
 4578,
 4624,
 4768,
 5116,
 5597,
 5643,
 5146,
 4666,
 3932,
 3435,
 3523,
 3311,
 2705,
 2033,
 1437,
 925,
 534,
 282,
 135,
 56,
 24,
 1118,
 1131,
 1166,
 1251,
 1369,
 1380,
 1259,
 1141,
 962,
 840,
 862,
 810,
 662,
 497,
 351,
 226,
 131,
 69,
 33,
 14,
 6,
 286,
 288,
 297,
 318,
 348,
 351,
 320,
 290,
 245,
 214,
 219,
 206,
 168,
 126,
 89,
 58,
 33,
 18,
 8,
 3,
 1,
 188,
 187,
 193,
 207,
 226,
 228,
 208,
 189,
 159,
 139,
 143,
 134,
 109,
 82,
 58,
 37,
 22,
 11,
 5,
 2,
 1,
 1980,
 1998,
 2060,
 2211,
 2419,
 2439,
 2224,
 2016,
 1699,
 1485,
 1522,
 1431,
 1169,
 878,
 621,
 400,
 231,
 122,
 58,
 24,
 10,
 224,
 229,
 236,
 253,
 277,
 279,
 254,
 231,
 194,
 170,
 174,
 164,
 134,
 100,
 71,
 46,
 26,
 14,
 7,
 3,
 1,
 19508,
 19706,
 20317,
 21800,
 23851,
 24048,
 21931,
 19884,
 16755,
 14640,
 15013,
 14110,
 11528,
 8662,
 6125,
 3943,
 2275,
 1203,
 574,
 239,
 101,
 391,
 395,
 408,
 437,
 478,
 482,
 440,
 399,
 336,
 294,
 301,
 283,
 231,
 174,
 123,
 79,
 46,
 24,
 12,
 5,
 2,
 597,
 602,
 620,
 665,
 728,
 734,
 669,
 607,
 511,
 447,
 458,
 431,
 352,
 264,
 187,
 120,
 69,
 37,
 18,
 7,
 3,
 964,
 974,
 1004,
 1077,
 1178,
 1188,
 1083,
 982,
 828,
 723,
 742,
 697,
 570,
 428,
 303,
 195,
 112,
 59,
 28,
 12,
 5,
 311,
 314,
 324,
 348,
 380,
 383,
 350,
 317,
 267,
 233,
 239,
 225,
 184,
 138,
 98,
 63,
 36,
 19,
 9,
 4,
 2,
 367,
 371,
 383,
 411,
 449,
 453,
 413,
 375,
 316,
 276,
 283,
 266,
 217,
 163,
 115,
 74,
 43,
 23,
 11,
 4,
 2,
 1159,
 1170,
 1207,
 1295,
 1416,
 1428,
 1302,
 1181,
 995,
 869,
 892,
 838,
 685,
 514,
 364,
 234,
 135,
 71,
 34,
 14,
 6,
 314,
 316,
 326,
 350,
 383,
 386,
 352,
 319,
 269,
 235,
 241,
 227,
 185,
 139,
 98,
 63,
 37,
 19,
 9,
 4,
 2,
 2921,
 2951,
 3043,
 3265,
 3572,
 3602,
 3285,
 2978,
 2509,
 2193,
 2248,
 2113,
 1727,
 1297,
 917,
 591,
 341,
 180,
 86,
 36,
 15,
 350,
 353,
 364,
 391,
 428,
 431,
 393,
 356,
 300,
 262,
 269,
 253,
 207,
 155,
 110,
 71,
 41,
 22,
 10,
 4,
 2,
 578,
 580,
 598,
 642,
 702,
 708,
 646,
 585,
 493,
 431,
 442,
 415,
 339,
 255,
 180,
 116,
 67,
 35,
 17,
 7,
 3,
 167,
 169,
 174,
 187,
 205,
 207,
 188,
 171,
 144,
 126,
 129,
 121,
 99,
 74,
 53,
 34,
 20,
 10,
 5,
 2,
 1,
 171,
 172,
 177,
 190,
 208,
 209,
 191,
 173,
 146,
 128,
 131,
 123,
 100,
 75,
 53,
 34,
 20,
 10,
 5,
 2,
 1,
 1864,
 1884,
 1942,
 2084,
 2280,
 2299,
 2097,
 1901,
 1602,
 1400,
 1435,
 1349,
 1102,
 828,
 586,
 377,
 217,
 115,
 55,
 23,
 10,
 2262,
 2288,
 2359,
 2531,
 2769,
 2792,
 2546,
 2308,
 1945,
 1699,
 1743,
 1638,
 1338,
 1006,
 711,
 458,
 264,
 140,
 67,
 28,
 12,
 143,
 145,
 150,
 160,
 176,
 177,
 161,
 146,
 123,
 108,
 110,
 104,
 85,
 64,
 45,
 29,
 17,
 9,
 4,
 2,
 1,
 3396,
 3432,
 3538,
 3796,
 4154,
 4188,
 3819,
 3463,
 2918,
 2549,
 2614,
 2457,
 2008,
 1509,
 1067,
 687,
 396,
 210,
 100,
 42,
 18,
 2115,
 2137,
 2203,
 2364,
 2586,
 2608,
 2378,
 2156,
 1817,
 1588,
 1628,
 1530,
 1250,
 939,
 664,
 428,
 247,
 131,
 62,
 26,
 11,
 349,
 351,
 361,
 388,
 424,
 428,
 390,
 354,
 298,
 260,
 267,
 251,
 205,
 154,
 109,
 70,
 40,
 21,
 10,
 4,
 2,
 533,
 540,
 557,
 597,
 653,
 659,
 601,
 545,
 459,
 401,
 411,
 387,
 316,
 237,
 168,
 108,
 62,
 33,
 16,
 7,
 3,
 181,
 182,
 188,
 201,
 220,
 222,
 202,
 184,
 155,
 135,
 139,
 130,
 106,
 80,
 57,
 36,
 21,
 11,
 5,
 2,
 1,
 795,
 802,
 827,
 888,
 971,
 979,
 893,
 810,
 682,
 596,
 611,
 574,
 469,
 353,
 249,
 161,
 93,
 49,
 23,
 10,
 4,
 2909,
 2940,
 3031,
 3252,
 3558,
 3588,
 3272,
 2966,
 2500,
 2184,
 2240,
 2105,
 1720,
 1292,
 914,
 588,
 339,
 180,
 86,
 36,
 15,
 872,
 882,
 909,
 975,
 1067,
 1076,
 981,
 890,
 750,
 655,
 672,
 631,
 516,
 388,
 274,
 176,
 102,
 54,
 26,
 11,
 5,
 675,
 681,
 702,
 754,
 825,
 831,
 758,
 687,
 579,
 506,
 519,
 488,
 399,
 299,
 212,
 136,
 79,
 42,
 20,
 8,
 3,
 454,
 457,
 471,
 505,
 553,
 557,
 508,
 461,
 388,
 339,
 348,
 327,
 267,
 201,
 142,
 91,
 53,
 28,
 13,
 6,
 2,
 1955,
 1975,
 2036,
 2185,
 2390,
 2410,
 2198,
 1993,
 1679,
 1467,
 1505,
 1414,
 1155,
 868,
 614,
 395,
 228,
 121,
 57,
 24,
 10,
 428,
 434,
 447,
 480,
 525,
 529,
 483,
 437,
 369,
 322,
 330,
 310,
 254,
 191,
 135,
 87,
 50,
 26,
 13,
 5,
 2,
 8170,
 8254,
 8510,
 9131,
 9990,
 10072,
 9186,
 8328,
 7018,
 6132,
 6288,
 5910,
 4829,
 3628,
 2565,
 1652,
 953,
 504,
 240,
 100,
 42,
 912,
 921,
 950,
 1019,
 1115,
 1124,
 1025,
 929,
 783,
 684,
 702,
 659,
 539,
 ...]

In [5]:
newdane = dane

Repito cada fila del DataFrame según la cantidad de repeticiones. Las repeticiones contiene la cantidad de personas para las diferentes conbinaciones de categorias

In [6]:
start_time = time.perf_counter()

newdane = newdane.loc[np.repeat(newdane.index.values, reps)]

print (time.perf_counter() - start_time, "seconds")

6.715831799999997 seconds

In [7]:
newdane

      NOMBRE DPTO  COD_MPIO NOMBRE MPIO    SEXOS Rango Edad  Personas
0       Antioquia      5001    Medellín  HOMBRES      00-04     87482
0       Antioquia      5001    Medellín  HOMBRES      00-04     87482
0       Antioquia      5001    Medellín  HOMBRES      00-04     87482
0       Antioquia      5001    Medellín  HOMBRES      00-04     87482
0       Antioquia      5001    Medellín  HOMBRES      00-04     87482
...           ...       ...         ...      ...        ...       ...
47123     Vichada     99773    Cumaribo  HOMBRES      00-04      5013
47123     Vichada     99773    Cumaribo  HOMBRES      00-04      5013
47123     Vichada     99773    Cumaribo  HOMBRES      00-04      5013
47123     Vichada     99773    Cumaribo  HOMBRES      00-04      5013
47123     Vichada     99773    Cumaribo  HOMBRES      00-04      5013

[50372424 rows x 6 columns]

Reseteo el índice del DataFrame

In [8]:
newdane = newdane.reset_index()

In [9]:
newdane

,index,NOMBRE DPTO,COD_MPIO,NOMBRE MPIO,SEXOS,Rango Edad,Personas
0,0,Antioquia,5001,Medellín,HOMBRES,00-04,87482
1,0,Antioquia,5001,Medellín,HOMBRES,00-04,87482
2,0,Antioquia,5001,Medellín,HOMBRES,00-04,87482
3,0,Antioquia,5001,Medellín,HOMBRES,00-04,87482
4,0,Antioquia,5001,Medellín,HOMBRES,00-04,87482
...,...,...,...,...,...,...,...
50372419,47123,Vichada,99773,Cumaribo,HOMBRES,00-04,5013
50372420,47123,Vichada,99773,Cumaribo,HOMBRES,00-04,5013
50372421,47123,Vichada,99773,Cumaribo,HOMBRES,00-04,5013
50372422,47123,Vichada,99773,Cumaribo,HOMBRES,00-04,5013
50372423,47123,Vichada,99773,Cumaribo,HOMBRES,00-04,5013

Le asigno a la columna Personas el valor de 1. Dado que ahora cada fila es una persona

In [10]:
newdane["Personas"] = 1

In [11]:
newdane['index'] = newdane.index
newdane

,index,NOMBRE DPTO,COD_MPIO,NOMBRE MPIO,SEXOS,Rango Edad,Personas
0,0,Antioquia,5001,Medellín,HOMBRES,00-04,1
1,1,Antioquia,5001,Medellín,HOMBRES,00-04,1
2,2,Antioquia,5001,Medellín,HOMBRES,00-04,1
3,3,Antioquia,5001,Medellín,HOMBRES,00-04,1
4,4,Antioquia,5001,Medellín,HOMBRES,00-04,1
...,...,...,...,...,...,...,...
50372419,50372419,Vichada,99773,Cumaribo,HOMBRES,00-04,1
50372420,50372420,Vichada,99773,Cumaribo,HOMBRES,00-04,1
50372421,50372421,Vichada,99773,Cumaribo,HOMBRES,00-04,1
50372422,50372422,Vichada,99773,Cumaribo,HOMBRES,00-04,1
50372423,50372423,Vichada,99773,Cumaribo,HOMBRES,00-04,1

In [12]:
#newdf.to_csv(r"C:\Users\NicolasBernal\Downloads\Inicial_terminado.csv", index = False)

Se realiza algunas agrupaciones para ver si lo realizado fue correcto

In [13]:
print(newdane.groupby(['NOMBRE MPIO', 'SEXOS', 'Rango Edad']).count())

                                    index  NOMBRE DPTO  COD_MPIO  Personas
NOMBRE MPIO SEXOS   Rango Edad
Abejorral   HOMBRES 00-04             771          771       771       771
                    05-09             782          782       782       782
                    10-14             806          806       806       806
                    100 AÑOS Y MÁS      4            4         4         4
                    15-19             865          865       865       865
...                                   ...          ...       ...       ...
Útica       MUJERES 75-79              35           35        35        35
                    80-84              22           22        22        22
                    85-89              13           13        13        13
                    90-94               7            7         7         7
                    95-99               3            3         3         3

[43448 rows x 4 columns]

Se deben realizar ajustes a la base de datos Dummie de población de Colombia, con el fin de cruzarla con el de contagiados nacionalmente.

Primero se cambian los valores de SEXOS de la tabla de datos Dummie.

In [14]:
newdane['SEXOS'].replace({'HOMBRES': 'M', 'MUJERES': 'F'}, inplace = True)

In [15]:
newdane

,index,NOMBRE DPTO,COD_MPIO,NOMBRE MPIO,SEXOS,Rango Edad,Personas
0,0,Antioquia,5001,Medellín,M,00-04,1
1,1,Antioquia,5001,Medellín,M,00-04,1
2,2,Antioquia,5001,Medellín,M,00-04,1
3,3,Antioquia,5001,Medellín,M,00-04,1
4,4,Antioquia,5001,Medellín,M,00-04,1
...,...,...,...,...,...,...,...
50372419,50372419,Vichada,99773,Cumaribo,M,00-04,1
50372420,50372420,Vichada,99773,Cumaribo,M,00-04,1
50372421,50372421,Vichada,99773,Cumaribo,M,00-04,1
50372422,50372422,Vichada,99773,Cumaribo,M,00-04,1
50372423,50372423,Vichada,99773,Cumaribo,M,00-04,1

Cambio el typo de variable de COD_MPIO

In [16]:
newdane['COD_MPIO'] = newdane['COD_MPIO'].apply(str)

In [17]:
print(newdane.head(5))

   index NOMBRE DPTO COD_MPIO NOMBRE MPIO SEXOS Rango Edad  Personas
0      0   Antioquia     5001    Medellín     M      00-04         1
1      1   Antioquia     5001    Medellín     M      00-04         1
2      2   Antioquia     5001    Medellín     M      00-04         1
3      3   Antioquia     5001    Medellín     M      00-04         1
4      4   Antioquia     5001    Medellín     M      00-04         1

In [18]:
newdane.dtypes

index           int64
NOMBRE DPTO    object
COD_MPIO       object
NOMBRE MPIO    object
SEXOS          object
Rango Edad     object
Personas        int64
dtype: object

In [19]:
newdane.rename(columns={'Rango Edad': "Rango_Edad"}, inplace = True)

In [20]:
newdane.dtypes

index           int64
NOMBRE DPTO    object
COD_MPIO       object
NOMBRE MPIO    object
SEXOS          object
Rango_Edad     object
Personas        int64
dtype: object

### Success!

## 2. Procedimiento con el archivo oficial de contagiados

Leo el archivo oficial de contagiados con COVID-19

In [21]:
oficial = pd.read_csv(r"C:\Users\NicolasBernal\Documents\GitHub\Datos-Colombia\input\Casos_positivos_de_COVID-19_en_Colombia.csv",
                     sep = ";")

In [22]:
oficial

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26683,26724,2020-05-08T00:00:00.000,8758,Soledad,Atlántico,Casa,60,M,En estudio,Leve,Colombia,2020-05-08T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000
26684,26725,2020-05-24T00:00:00.000,25754,Soacha,Cundinamarca,Hospital UCI,50,F,En estudio,Grave,Colombia,2020-05-20T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000
26685,26726,2020-04-24T00:00:00.000,76001,Cali,Valle del Cauca,Casa,55,F,En estudio,Leve,Colombia,2020-04-14T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000
26686,26727,2020-04-23T00:00:00.000,76001,Cali,Valle del Cauca,Hospital,55,M,En estudio,Moderado,Colombia,2020-04-18T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000
26687,26728,2020-04-13T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Casa,35,F,En estudio,Leve,Colombia,2020-04-12T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000

In [23]:
oficial['Edad_2'] = oficial['Edad']
oficial

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Edad_2
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,19
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,34
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,50
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000,55
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26683,26724,2020-05-08T00:00:00.000,8758,Soledad,Atlántico,Casa,60,M,En estudio,Leve,Colombia,2020-05-08T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000,60
26684,26725,2020-05-24T00:00:00.000,25754,Soacha,Cundinamarca,Hospital UCI,50,F,En estudio,Grave,Colombia,2020-05-20T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000,50
26685,26726,2020-04-24T00:00:00.000,76001,Cali,Valle del Cauca,Casa,55,F,En estudio,Leve,Colombia,2020-04-14T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,55
26686,26727,2020-04-23T00:00:00.000,76001,Cali,Valle del Cauca,Hospital,55,M,En estudio,Moderado,Colombia,2020-04-18T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,55
26687,26728,2020-04-13T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Casa,35,F,En estudio,Leve,Colombia,2020-04-12T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,35

Cambio la edad por los rangos de edad del DANE

In [24]:
oficial['Edad'] = np.where(oficial['Edad_2'] <= 4, '00-04', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 4) & (oficial['Edad_2'] <= 9), '05-09', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 9) & (oficial['Edad_2'] <= 14), '10-14', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 14) & (oficial['Edad_2'] <= 19), '15-19', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 19) & (oficial['Edad_2'] <= 24), '20-24', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 24) & (oficial['Edad_2'] <= 29), '25-29', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 29) & (oficial['Edad_2'] <= 34), '30-34', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 34) & (oficial['Edad_2'] <= 39), '35-39', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 39) & (oficial['Edad_2'] <= 44), '40-44', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 44) & (oficial['Edad_2'] <= 49), '45-49', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 49) & (oficial['Edad_2'] <= 54), '50-54', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 54) & (oficial['Edad_2'] <= 59), '55-59', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 59) & (oficial['Edad_2'] <= 64), '60-64', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 64) & (oficial['Edad_2'] <= 69), '65-69', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 69) & (oficial['Edad_2'] <= 74), '70-74', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 74) & (oficial['Edad_2'] <= 79), '75-79', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 79) & (oficial['Edad_2'] <= 84), '80-84', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 84) & (oficial['Edad_2'] <= 89), '85-89', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 89) & (oficial['Edad_2'] <= 94), '90-94', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 94) & (oficial['Edad_2'] <= 99), '95-99', oficial['Edad'])
oficial['Edad'] = np.where((oficial['Edad_2'] > 99), '100 AÑOS Y MÁS', oficial['Edad'])

Se cambia el tipo de la variable Codigo DIVIPOLA por string para hacer llaves y cruce.

In [25]:
oficial['Codigo DIVIPOLA'] = oficial['Codigo DIVIPOLA'].apply(str)

In [26]:
oficial

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Edad_2
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,15-19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,19
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,30-34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,34
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50-54,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,50
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55-59,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000,55
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25-29,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26683,26724,2020-05-08T00:00:00.000,8758,Soledad,Atlántico,Casa,60-64,M,En estudio,Leve,Colombia,2020-05-08T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000,60
26684,26725,2020-05-24T00:00:00.000,25754,Soacha,Cundinamarca,Hospital UCI,50-54,F,En estudio,Grave,Colombia,2020-05-20T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000,50
26685,26726,2020-04-24T00:00:00.000,76001,Cali,Valle del Cauca,Casa,55-59,F,En estudio,Leve,Colombia,2020-04-14T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,55
26686,26727,2020-04-23T00:00:00.000,76001,Cali,Valle del Cauca,Hospital,55-59,M,En estudio,Moderado,Colombia,2020-04-18T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,55
26687,26728,2020-04-13T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Casa,35-39,F,En estudio,Leve,Colombia,2020-04-12T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,35

In [27]:
print(oficial.head(5))

   ID de caso    Fecha de notificación Codigo DIVIPOLA  Ciudad de ubicación  \
0           1  2020-03-02T00:00:00.000           11001          Bogotá D.C.
1           2  2020-03-06T00:00:00.000           76111  Guadalajara de Buga
2           3  2020-03-07T00:00:00.000            5001             Medellín
3           4  2020-03-09T00:00:00.000            5001             Medellín
4           5  2020-03-09T00:00:00.000            5001             Medellín

  Departamento o Distrito     atención   Edad Sexo         Tipo Estado  \
0              Bogotá D.C.  Recuperado  15-19    F    Importado   Leve
1          Valle del Cauca  Recuperado  30-34    M    Importado   Leve
2                Antioquia  Recuperado  50-54    F    Importado   Leve
3                Antioquia  Recuperado  55-59    M  Relacionado   Leve
4                Antioquia  Recuperado  25-29    M  Relacionado   Leve

  País de procedencia                      FIS Fecha de muerte  \
0              Italia  2020-02-27T00:00:00.000           -   -
1              España  2020-03-04T00:00:00.000           -   -
2              España  2020-02-29T00:00:00.000           -   -
3            Colombia  2020-03-06T00:00:00.000           -   -
4            Colombia  2020-03-08T00:00:00.000           -   -

         Fecha diagnostico         Fecha recuperado        fecha reporte web  \
0  2020-03-06T00:00:00.000  2020-03-13T00:00:00.000  2020-03-06T00:00:00.000
1  2020-03-09T00:00:00.000  2020-03-19T00:00:00.000  2020-03-09T00:00:00.000
2  2020-03-09T00:00:00.000  2020-03-15T00:00:00.000  2020-03-09T00:00:00.000
3  2020-03-11T00:00:00.000  2020-03-26T00:00:00.000  2020-03-11T00:00:00.000
4  2020-03-11T00:00:00.000  2020-03-23T00:00:00.000  2020-03-11T00:00:00.000

   Edad_2
0      19
1      34
2      50
3      55
4      25

In [28]:
oficial.dtypes

ID de caso                   int64
Fecha de notificación       object
Codigo DIVIPOLA             object
Ciudad de ubicación         object
Departamento o Distrito     object
atención                    object
Edad                        object
Sexo                        object
Tipo                        object
Estado                      object
País de procedencia         object
FIS                         object
Fecha de muerte             object
Fecha diagnostico           object
Fecha recuperado            object
fecha reporte web           object
Edad_2                       int64
dtype: object

## 3. Uno la tabla de Dummies Colombia y la tabla de infectados Oficial Colombia

Se crea la llave para unir las tablas

In [27]:
newdane['Key'] = newdane['Rango_Edad'] + newdane['SEXOS'] + newdane['COD_MPIO']
oficial['Key'] = oficial['Edad'] + oficial['Sexo'] + oficial['Codigo DIVIPOLA']

In [28]:
newdane

,index,NOMBRE DPTO,COD_MPIO,NOMBRE MPIO,SEXOS,Rango_Edad,Personas,Key
0,0,Antioquia,5001,Medellín,M,00-04,1,00-04M5001
1,1,Antioquia,5001,Medellín,M,00-04,1,00-04M5001
2,2,Antioquia,5001,Medellín,M,00-04,1,00-04M5001
3,3,Antioquia,5001,Medellín,M,00-04,1,00-04M5001
4,4,Antioquia,5001,Medellín,M,00-04,1,00-04M5001
...,...,...,...,...,...,...,...,...
50372419,50372419,Vichada,99773,Cumaribo,M,00-04,1,00-04M99773
50372420,50372420,Vichada,99773,Cumaribo,M,00-04,1,00-04M99773
50372421,50372421,Vichada,99773,Cumaribo,M,00-04,1,00-04M99773
50372422,50372422,Vichada,99773,Cumaribo,M,00-04,1,00-04M99773
50372423,50372423,Vichada,99773,Cumaribo,M,00-04,1,00-04M99773

In [29]:
oficial

,ID de caso,Fecha de notificación,Codigo DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Edad_2,Key
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,15-19,F,Importado,Leve,Italia,2020-02-27T00:00:00.000,- -,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,19,15-19F11001
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,30-34,M,Importado,Leve,España,2020-03-04T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,34,30-34M76111
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50-54,F,Importado,Leve,España,2020-02-29T00:00:00.000,- -,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,50,50-54F5001
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55-59,M,Relacionado,Leve,Colombia,2020-03-06T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000,55,55-59M5001
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25-29,M,Relacionado,Leve,Colombia,2020-03-08T00:00:00.000,- -,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000,25,25-29M5001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26683,26724,2020-05-08T00:00:00.000,8758,Soledad,Atlántico,Casa,60-64,M,En estudio,Leve,Colombia,2020-05-08T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000,60,60-64M8758
26684,26725,2020-05-24T00:00:00.000,25754,Soacha,Cundinamarca,Hospital UCI,50-54,F,En estudio,Grave,Colombia,2020-05-20T00:00:00.000,- -,2020-05-29T00:00:00.000,NaN,2020-05-29T00:00:00.000,50,50-54F25754
26685,26726,2020-04-24T00:00:00.000,76001,Cali,Valle del Cauca,Casa,55-59,F,En estudio,Leve,Colombia,2020-04-14T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,55,55-59F76001
26686,26727,2020-04-23T00:00:00.000,76001,Cali,Valle del Cauca,Hospital,55-59,M,En estudio,Moderado,Colombia,2020-04-18T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,55,55-59M76001
26687,26728,2020-04-13T00:00:00.000,8001,Barranquilla,Barranquilla D.E.,Casa,35-39,F,En estudio,Leve,Colombia,2020-04-12T00:00:00.000,- -,SIN DATO,NaN,2020-05-29T00:00:00.000,35,35-39F8001

In [30]:
del dane
del reps

In [31]:
#consolidado = pd.merge(newdane, oficial, on='Key', how='left')
consolidado = dd.merge(newdane, oficial, on='Key', how='left')
#consolidado

MemoryError: Unable to allocate 22.0 GiB for an array with shape (2948559959,) and data type int64